@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.main>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* {
    box-sizing: border-box;
}

.main {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    height: 85%;
    width: 90%;
    background-color: white;
}



.main>.flower {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    align-items: center;
    overflow: hidden;
    border-top: 3px solid transparent;
}

.flower:hover {
    border-top: 3px solid green;
}


.flower>.img {
    height: 250px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.about-flower {
    height: 80px;
    display: flex;
    width: 300px;
    margin-top: 5px;
    flex-direction: column;
    justify-content: space-evenly;
}

.price-main {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.name-product {
    font-family: 'Concert One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #3D3D3D;
}

.price-product {
    font-weight: 700;
    font-family: cursive;
    font-size: 25px;
    line-height: 16px;
    color: #46A358;
}

.discount {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    text-decoration: line-through 4px #CBCBCB;;
    line-height: 16px;
    color: #A5A5A5;
}


.main:hover .footer {
    position: relative;
    transition: 0.3s;
    top: -140px;
    animation: footer .5s 1;
}

.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transition: 0.3s;
    width: 50%;
    top:100px;
    height: 100px;
}

@keyframes footer {
    0% {
        top: 0;
    }

    100% {
        top: -140px;
    }
}

.FontAwesomeIcon {
    font-size: 30px;
    color: #3D3D3D;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transition: .4s;
}

.FontAwesomeIcon:hover {
    color: #46A358;
    transform: scale(1.2);
}

.FontAwesomeIcon:active {
    color: #46A358;
    transform: scale(1.1);
}

.chegirmafoiz {
    font-family: 'Concert One', cursive;
    position: absolute;
    width: 40%;
    font-size: 30px;
    color: white;
    background-color: #46A358;
    top: 1%;
    left: 5%;
    padding: 5px;
}