.main>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.main>.flower {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flower>.img {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main>.flower>.about-flower {
    height: 80px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.price-main {
    display: flex;
    gap: 25px;
    font-size: 25px;
}

.name-product {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    color: #3D3D3D;
}

.price-product {
    font-family: 'Cooper';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
}

.discount {
    font-family: 'Cera Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-decoration: line-through 2px red;
    ;
    line-height: 16px;
    color: #A5A5A5;
}

