* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-flowers {
    width: 70%;
    transition: .1s;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}