* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

.main-flowers {
    width: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}